/* Firefox userContent.css */
@-moz-document url-prefix("about:blank"), url-prefix("about:newtab") {
    body {
        background-image: url("librewolfbackground.png") !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-attachment: fixed !important;
      }
    }